<div class="show" peripherals-control [(content)]="content" [movementX]="innerViewWidth" contenteditable="false" tabindex="0">
    <div class="show__view" [ngStyle]="{'height': outerViewHeight, 'width': outerViewWidth}" touch-control [(content)]="content" [movementX]="innerViewWidth">
        <span class="show__content" *ngFor="let content of contentList" [ngSwitch]="content.format" [ngStyle]="{'height': innerViewHeight, 'width': innerViewWidth}">
            <img #origins *ngSwitchCase="imageFormat" [src]="content.src" [ngStyle]="{'height': height, 'width': width}" />
            <video #origins *ngSwitchCase="videoFormat" controls #videos [ngStyle]="{'height': height, 'width': width}" [autoplay]="content.autoplay">
                <source [src]="content.src" [type]="getVideoType(content)">
            </video>
            <p #origins *ngSwitchCase="noFormat"></p>
        </span>
    </div>
    <div class="show__thumbnail-view" *ngIf="isShowThumbnails" [ngStyle]="{'height': thumbnailViewHeight, 'width': thumbnailViewWidth, 'padding-left': thumbnailViewLeftPadding, 'left': thumbnailViewLeft, 'top': thumbnailViewTop}" thumbnail-touch-control [(content)]="content">
        <span class="show__thumbnail" thumbnail-control [thumbnail]="thumbnail" [(content)]="content" *ngFor="let thumbnail of thumbnails" [ngSwitch]="thumbnail.format">
            <img #thumbnails *ngSwitchCase="imageFormat" [src]="thumbnail.src" [ngStyle]="{'height': thumbnailHeight, 'width': thumbnailWidth}"/>
            <video #thumbnails *ngSwitchCase="videoFormat" [ngStyle]="{'height': thumbnailHeight, 'width': thumbnailWidth}">
                <source [src]="thumbnail.src" [type]="getVideoType(thumbnail)">
            </video>
            <p #thumbnails *ngSwitchCase="noFormat"></p>
        </span>
    </div>
</div>

<button mat-dialog-close class="close" *ngIf="isDialogOpened && isDialogCloseButton">
    <mat-icon class="close-icon">close</mat-icon>
</button>

<ng-template #nocontent>
    <div class="dialog" contenteditable="false">
        <div class="nocontent">
            <div class="warning">
                <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
                <span class="head">Sorry, nothing's here</span>
                <span class="body">Maybe go back and try another?</span>
            </div>
        </div>
        <button mat-dialog-close class="close-button" *ngIf="isDialogOpened">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </div>
</ng-template>