.main_frame {
    margin: 20px;
    padding: 10px;
    scroll-behavior: auto;
}

.core_gallery_image {
    background-image: url('/assets/img/gallery-icon.png');
    background-size: cover;
    margin: 3px;
}

.total {
    text-align: right;
}

.app_title {
    font-weight: bold;
    font-size: xx-large;
}

._inline {
    display: inline;
    padding: 0px;
    vertical-align: middle;
}

._inline_image_icon {
    display: inline;
    padding: 0px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

._inline_block {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
}

.path {
    color: lightgray;
}

.mat_card {
    margin: 0px;
    color: white;
    background-color: royalblue;
    vertical-align: middle;
}

.mat_card_align {
    vertical-align: middle;
}

.mat_icon {
    color: #F8D775;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}

.mat_list_item {
    width: 80%;
    background-color: white;
    text-align: left;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.mat_list_item:hover {
    background-color: aliceblue;
}

.mat_flat_button {
    width: 95%;
    background-color: white;
    text-align: left;
    margin: 0px;
    padding: 0px;
    text-indent: 5px;
}

.mat_flat_button:hover {
    background-color: aliceblue;
}

.overlay_icon_container {
    position: relative;
}

.overlay_icon {
    position: absolute;
    top: 0;
    left: 0;
}

.mat_spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}