<main class="main_frame">
  <mat-card class="mat_card">
    <img mat-card-avatar class="core_gallery_image _inline">
    <div class="_inline">
      <h1 class="_inline app_title">CoreGallery</h1>
      <mat-icon class="mat_icon">keyboard_arrow_right</mat-icon>
      <h2 class="_inline path">{{currentPath}}</h2>
    </div>
  </mat-card>

  <div class="total">
    <p class="_inline_block">total: {{count}}</p>
  </div>

  <mat-divider></mat-divider>

  <ng-container *ngIf="!isLoading">
    <div *ngIf="!isTopDirectory()">
      <span class="overlay_icon_container">
        <mat-icon class="mat_icon">folder_open</mat-icon>
        <mat-icon class="mat_icon overlay_icon">keyboard_arrow_up</mat-icon>
      </span>
      <button mat-flat-button (click)="exploreOut()" class="mat_flat_button">. .</button>
    </div>

    <div *ngFor="let item of items; index as i" [ngSwitch]="item.type">
      <ng-container *ngSwitchCase="'directory'">
        <div>
          <mat-icon class="mat_icon">folder</mat-icon>
          <button mat-flat-button (click)="exploreIn(item.name)" class="mat_flat_button">{{item.name}}</button>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'file'">
          <img [src]="item.src" class="_inline_image_icon" rounded thumbnail>
          <button mat-flat-button (click)="showImage(item.name)" class="mat_flat_button">{{item.name}}</button>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="isLoading">
    <mat-spinner [diameter]="50" class="mat_spinner"></mat-spinner>
  </ng-container>
</main>