<div class="dialog hidden-scrollable" contenteditable="false" tabindex="0">
    <div class="content-area" [ngStyle]="{'grid-template-rows': isContentPreview ? '85% 15%' : '100%'}">
        <span class="content-view-list" [ngStyle]="{'height': outerViewHeight, 'width': outerViewWidth}">
            <span class="content-view" *ngFor="let src of srcs; let i = index" [ngStyle]="{'height': innerViewHeight, 'width': innerViewWidth}">
                <img #content [src]="src" [ngStyle]="{'height': imageHeight, 'width': imageWidth}" />
            </span>
        </span>
        <!-- <div *ngIf="isContentPreview" class="content-preview-list hidden-scrollable">
            <img class="content-preview" *ngFor="let content of preloadedContents" [src]="content.src" [ngStyle]="{'height': previewHeight, 'width': previewWidth}" />
        </div> -->
    </div>
</div>

<button mat-dialog-close class="close-button" *ngIf="isDialogOpened && isDialogCloseButton">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<!--
<ng-template #nocontent>
    <div class="dialog" contenteditable="false">
        <div class="nocontent">
            <div class="warning">
                <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
                <span class="head">Sorry, nothing's here</span>
                <span class="body">Maybe go back and try another?</span>
            </div>
        </div>
        <button mat-dialog-close class="close-button" *ngIf="isDialogOpened">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </div>
</ng-template>
-->