.flex-nowrap-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    clear: both;
}

.home {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0px;
    margin: 5px;
}

.home:hover {
    cursor: pointer;
}

.app-name {
    color: cornflowerblue;
    font-size: large;
    font-weight: bold;
}